/* button {
    height: 30px;
    width: 30px;
    outline: none;
} */

.lcTopTitle {
    color: #0f9f14;
    text-align: center;
}

.lcMainTitle {
    color: #4CAF50;
    text-align: center;
}

.lcAdditionalTitle {
    color: #4CAF50;
    text-align: center;
}

.storySurveyPopup {
    background-color: #FFFFFF;
    width: 450px;
    height: 800px;
}

.addBorderShow {
    background-color: #c2da99;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

br.clear {
    clear: both;
}

.reloadButton {
    display: inline-block;
    padding: 8px 13px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    float: right;
  }
  
  .reloadButton:hover {background-color: #3e8e41}
  
  .reloadButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


.properNoun{
    color: #2d7b30;
}

.noun{
    color: #259328bf;
}

.adjective{
    color: #f58207;
}

.adverb{
    color: #616361;
}

.verb{
    color: #589bed;
}

.positive{
    color: #ffd700    ;
}

.negative{
    color: #f71f07;
}

#lcVizualizationLabels span{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
