button {
    height: 30px;
    width: 30px;
    outline: none;
}

.lcContent {
    background-color: "#C9E4C5";
}

.storySurveyPopup {
    background-color: "#FFFFFF";
    width: 450px;
    height: 800px;
}

